<!-- Footer -->

<footer >
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/footer.css">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-secondary text-white mb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center col mt-3">
                    <h5 class="font-footer">Liens utiles</h5>
                    <hr style="width: 60%;">
                    <p><img class="footer_logos" src="/assets/images/git_logo.png" alt="logo github"> <a class="footer_liens" href="https://github.com/LeoMld/Projet_Web">Github</a></p>
                    <p><img class="footer_logos mr-n3" src="/assets/images/logo_poly_noir.png" alt="logo github"><a class="footer_liens" href="https://github.com/LeoMld/Projet_Web">Polytech Montpellier</a></p>
                </div>
                <div class="col d-none d-md-block">
                    <h2 class="font-footer">STARTConvey</h2>
                    <hr class="bg-white" style="width: 40%;">

                    <div class="d-flex justify-content-center mt-5">
                        <img class="mr-2" width="36" height="40" alt="logo de l'école polytech" src="/assets/images/logo_poly.png">
                        <h4> Polytech Montpellier</h4>
                    </div>

                </div>
                <div class="col-md ">

                    <hr class="bg-white d-sm-none d-block" style="width: 60%;">
                    <h5 class="mb-3 ">Une remarque ?</h5>
                    <hr style="width: 60%;">
                        <fieldset>
                            <div class="form-group">
                                <label for="mail_contact"></label>
                                <input type="email" class="form-control"  id="mail_contact" placeholder="Votre mail">
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label for="message"></label>
                                <textarea class="form-control" id="message" name="message" rows="2" placeholder="Votre message" required></textarea>
                                <button id="envoi" class="btn btn-success btn-sm mt-3">Envoyer</button>
                                <div style="display: none; color: #00B7FF" id="valid"><h5>Merci ! Votre message nous a bien été envoyé !</h5></div>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#envoi').click(function () {
                                            $.ajax({
                                                url: '/contact',
                                                type: 'POST',
                                                dataType: 'html',
                                                data: {mail: document.getElementById("mail_contact").value, message: document.getElementById("message").value},
                                                success: function () {
                                                    $(document.getElementById('mail_contact')).toggle('slow');
                                                    $(document.getElementById('message')).toggle('slow');
                                                    $(document.getElementById('envoi')).toggle('slow');
                                                    $(document.getElementById('valid')).toggle('slow');
                                                },
                                                error: function () {
                                                    console.log("erreur");
                                                    alert("Erreur lors de l'envoi du message, votre mail n'existe pas ou votre message est vide");
                                                }
                                            })
                                        })
                                    })
                                </script>
                            </div>
                        </fieldset>


                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="bg-dark mt-0 pt-0 text-center text-white">
        © POLYTECH 2020
    </div>
</footer>

</body>
