<!-- Footer -->

<footer >
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/footer.css">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-secondary text-white mb-0">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center col mt-3">
                    <h5 class="font-footer">Liens utiles</h5>
                    <hr style="width: 60%;">
                    <p><img class="footer_logos" src="/assets/images/git_logo.png" alt="logo github"> <a class="footer_liens" href="https://github.com/LeoMld/Projet_Web">Github</a></p>
                    <p><a class="footer_liens" href="https://github.com/LeoMld/Projet_Web">Polytech Montpellier</a></p>
                    <p><a class="footer_liens" href="https://moodle.umontpellier.fr/">Moodle Polytech</a></p>
                </div>
                <div class="col d-none d-md-block">
                    <h2 class="font-footer">STARTConvey</h2>
                    <hr class="bg-white" style="width: 40%;">

                    <div class="d-flex justify-content-center mt-5">
                        <img class="mr-2" width="36" height="40"  src="/assets/images/logo_poly.png">
                        <h4> Polytech Montpellier</h4>
                    </div>

                </div>
                <div class="col-md ">

                    <hr class="bg-white d-sm-none d-block" style="width: 60%;">
                    <h5 class="mb-3 ">Une remarque ?</h5>
                    <hr style="width: 60%;">
                    <form id="contact" method="post" action="../controller/ctrl_contact_treatment.php">
                        <fieldset>
                            <div class="form-group">
                                <label for="email"></label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Votre mail" required>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label for="message"></label>
                                <textarea class="form-control" id="message" name="message" rows="2" placeholder="Votre message" required></textarea>
                                <div class="mt-2"><input class=" btn btn-light" type="submit" name="envoi" value="Envoyer"></div>
                            </div>
                        </fieldset>


                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="bg-dark mt-0 pt-0 text-center text-white">
        © POLYTECH 2020
    </div>
</footer>

</body>
