<%- include('layout')%>
<nav id="nav" class="shadow-sm navbar navbar-expand-lg sticky-top navbar-light px-5">

    <h2 id="titre" class="row align-items-center mt-2 ">
        <!-- logo de l'entreprise -->

        <strong>&nbsp; STARTConvey</strong>
    </h2>
    <!-- bouton hamburger pour un menu responsif -->
    <a class="navbar-brand d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    <!-- navigation links -->
    <div class="ml-5 mt-4 collapse navbar-collapse" id="collapse_target" >
        <ul id="menu" class="navbar-nav mr-auto mb-4 ml-5 ">
            <li>
                <a class="mr-2 nav-link " href="/entreprise/profil" >PROFIL</a>
            </li>
            <li class="mr-2 nav-item ">
                <a   style= "text-decoration: none; outline:none;" class= "nav-link " href="#" id="menu"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ANNONCES</a>
                <ul class="shadow">
                    <li class="dropdown-item ">
                        <a href="/entreprise/annonces/my_ads" style= "text-decoration: none;">
                            <h7>Gerer mes annonces</h7>
                        </a>
                    </li>
                    <li class="dropdown-item ">
                        <a  href="/entreprise/annonces" style= "text-decoration: none;" >
                            <h7 >Toutes les annonces</h7>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/logout" >Déconnexion</a>
            </li>
        </ul>
    </div>


</nav>