<%- include('layout')%>
<nav id="nav" class="shadow-sm navbar navbar-expand-lg sticky-top navbar-light px-5">

    <h2 id="titre" class="row align-items-center mt-2 ">
        <!-- logo de l'entreprise -->

        <strong>&nbsp; STARTConvey</strong>
    </h2>
    <!-- bouton hamburger pour un menu responsif -->
    <a class="navbar-brand d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    <!-- navigation links -->
    <div class="ml-5 mt-4 collapse navbar-collapse" id="collapse_target" >
        <ul id="menu" class="navbar-nav mr-auto mb-4 ml-5 ">
            <li>
                <a class="mr-2 nav-link " href="/" >SE CONNECTER</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/register" >CREER UN COMPTE</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/contact" >CONTACT</a>
            </li>
        </ul>
    </div>


</nav>