<%- include('layout')%>
<nav id="nav" class="shadow navbar navbar-expand-lg sticky-top navbar-dark px-5">

    <h2 id="titre" class="row align-items-center mt-2 ">
        <!-- logo de l'entreprise -->

        <strong>&nbsp; STARTConvey</strong>
    </h2>
    <!-- bouton hamburger pour un menu responsif -->
    <a class="navbar-brand d-flex justify-content-end">
        <button class="hamburger hamburger--3dx navbar-toggler" id="hamburger" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
    </a>
    <!-- navigation links -->
    <div class="ml-5 mt-4 collapse navbar-collapse" id="collapse_target" >
        <ul id="menu" class="navbar-nav mr-auto mb-4 ml-5 ">
            <li>
                <a class="mr-2 nav-link " href="/influenceur/profil" >PROFIL</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/influenceur/annonces" >PROJETS</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/influenceur/partenaires" >PARTENAIRES</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/logout" >Déconnexion</a>
            </li>
        </ul>
    </div>
    <!-- to be sure that's the DOM is created insert js here-->
    <script src="/assets/javascripts/home.js"></script>


</nav>