<%- include('layout') %>
<div class="container mt-5">
    <h1 class="text-center">Page register</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="mail">Email address</label>
            <input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>