
<!DOCTYPE html>
<html lang="en">
<head>

    <title>home</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="icon" href='/public/images/favicon.ico'/>
    <!--dynamic navbar when scrolling-->
</head>
<body>
<nav id="nav" class="shadow-sm navbar navbar-expand-lg sticky-top navbar-light px-5">

    <h2 id="titre" class="row align-items-center mt-2 ">
        <!-- logo de l'entreprise -->

        <strong>&nbsp; STARTConvey</strong>
    </h2>
    <!-- bouton hamburger pour un menu responsif -->
    <a class="navbar-brand d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    <!-- navigation links -->
    <div class="ml-5 mt-4 collapse navbar-collapse" id="collapse_target" >
        <ul id="menu" class="navbar-nav mr-auto mb-4 ml-5 ">
            <li>
                <a class="mr-2 nav-link " href="/" >SE CONNECTER</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/register" >CREER UN COMPTE</a>
            </li>
            <li>
                <a class="mr-2 nav-link " href="/contact" >CONTACT</a>
            </li>
        </ul>
    </div>


</nav>