<%- include('../../components/header_entreprise') %>
<div class="container">
    <%
    if( typeof annonce[0] != 'undefined'){
        %>
        <div class="text-center">
            <h1 class="mt-5"><%= annonce[0].titre_A %></h1>
        </div>
        <p><%= annonce[0].description_A %></p>
    <%
    }%>
</div>