<%- include('../../components/header') %>
<%if(typeof flash != 'undefined'){
    %>
    <div class="alert <%= flash.type %> fade-out" role="alert"><%= flash.mess%> </div>
    <%
} %>

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col text-center">
            <img src="assets/images/startup.png" alt="fusée décollant symbolisant une startup">
        </div>
        <div class="col">
            <h1 class="text-center">Se connecter</h1>
            <form action="/" method="post">
                <div class="form-group">
                    <label for="mail">Email address</label>
                    <input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" name="pwd" id="pwd" required>
                </div>
                <div>
                    <%
                    switch (status_co) {
                    case 0:%>
                    <small class="text-danger">Mot de passe / mail incorrect</small>
                    <%break;
                        default:
                    }
                    %>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary ">Connexion</button>

                </div>
                <div class="text-center">
                    <small>Pas encore de compte ? <br> <a href="/register">inscrivez vous !</a></small>
                </div>
            </form>
        </div>
    </div>
    <hr style="width:50%;">
</div>
    <div style="height: 100px; width: 100%" class="back">

    </div>
<div class="container">
    <div class="text-center mt-5 mb-5">

        <h1 class="text-center">Vous êtes une entreprise ?</h1>
        <h6>Vous souhaitez donner de la visibilité à vos projets ?</h6>

        <p>  Déposez facilement une annonce et contactez des influenceurs qui correspondent
            à vos attentes. </p>
            <img style="height: 150px;" src="assets/images/entreprise.png" alt="icône représentant une entreprise">

        <hr style="width: 20%">
        <br>
        <h1 class="text-center"> Vous êtes un influenceur ?</h1>
         <h6>vous souhaitez réaliser des placements de produits/services ?</h6> <br>
        <p>Selectionnez rapidement les projets qui vous correspondent et prenez contact avec une entreprise. </p>
        <img style="height: 150px;" src="assets/images/influenceur.jpg" alt="icône représentant des personnes possédant une communauté sur les réseaux">

    </div>
</div>


<%- include('../../components/footer') %>